@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
/* menu */

.line1 {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 5%;
  right: 5%;
  background: rgb(255, 255, 255);
  z-index: 5;
  transition: all 0.5s ease-in-out;
}
.mid {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 5.5%;
  right: 5%;
  background: rgb(255, 255, 255);
  opacity: 0;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}
.line2 {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 6%;
  right: 5%;
  background: rgb(255, 255, 255);
  z-index: 5;
  transition: all 0.5s ease-in-out;
}
.mid2 {
  width: 30px;
  height: 3px;
  opacity: 0;
  position: absolute;
  top: 6.5%;
  right: 5%;
  background: rgb(255, 255, 255);
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

.line3 {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 7%;
  right: 5%;
  background: rgb(255, 255, 255);
  z-index: 5;
  transition: all 0.5s ease-in-out;
}
.trans1 {
  transform: rotate(45deg) translateY(100%) translateX(20%);
}
.trans2 {
  opacity: 0;
}
.trans3 {
  transform: rotate(-45deg) translateY(-100%) translateX(20%);
}
.menu-card {
  height: 100vh;
  width: 53%;
  border-radius: 0% 0% 90% 0%;
  transform: rotate(-10deg);
  position: absolute;
  top: -100%;
  left: -100%;
  background: #ffffff;
  border-right: 50px solid #dfecfb;
  /* background: white; */
  z-index: 10;
  transition: all 0.8s ease-in-out;
  /* animation: anime 3s infinite  alternate ease-out ; */
}
@keyframes anime {
  0% {
    background: #dfecfb;
  }
  100% {
    background: #ffffff;
  }
}

.active {
  left: 0%;
  top: 0%;
}
/* .active2 {
  position: fixed;
} */
.menu-card ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: rotate(10deg);
  align-items: center;
  height: 70%;
  text-decoration: none;
  list-style: none;
}
.menu-card li {
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;

  /* text-align: center; */
}
.menu-card li a {
  color: #9900b1;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
.menu-card li:hover {
  transform: scale(1.15);
}
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
}

.hero > img {
  width: 65%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-main-div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.hero-right .profile {
  width: 40%;
  z-index: 5;
  transform: translateY(-10%);
}
.hero-right .decor1 {
  position: absolute;
  z-index: 4;
  right: 5%;
  transform: translateY(10%);
  width: 75%;
  overflow: hidden;
}
.hero-left h1 {
  font-size: 2.5rem;
  padding: 1rem;
}
.hero-left h2 {
  padding: 1rem;
  color: #9900b1;
}
.hero-left p {
  padding: 1rem;
  font-weight: bolder;
}
.textbox {
  margin-left: 15%;
}
.name {
  color: #9900b1;
}
.arrow {
  transform: rotate(180deg);
  object-fit: contain;
}

/* about */
.about {
  background: url(./img/about.png) no-repeat center/cover;
  /* background: #f5f5f5; */
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
  /* z-index: -1; */
}
/* .about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:50%;
  height: 100%;
  border-radius: 80%;
  transform: translate(-30%, -50%)rotate(10deg);
  
  background: rgb(255, 255, 255);
} */
.content {
  width: 50%;
  margin-right: 10%;
  z-index: 2;
  position: relative;
  /* transform-style: preserve-3d;
  transform: perspective(1000px); */
}
.content p {
  padding: 3rem;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.15rem;
  line-height: 2.5rem;
  text-align: left;
  z-index: 2;
}
.content::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* transform: translate(6%, -6%); */
  background: #7488f4;
  z-index: -1;
}
.content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* transform: translate(-6%, 6%); */
  background: #9900b1;
  z-index: -1;
}

.forest {
  position: absolute;
  bottom: -100%;
  left: 5%;
  width: 22%;
}
.decor2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 0%) scale(1.65) rotate(-4deg);
  width: 34.2%;
}
.about h1 {
  font-size: 2.5rem;
  position: absolute;
  top: 16%;
  left: 10%;
  z-index: 2;
  color: #9900b1;
}

/* Work */
.workhead {
  width: 100%;
  height: 20rem;
  background: #6e8bf5;
  position: relative;
}
.workhead h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  padding-top: 4rem;
}
.cardMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-30%);
}
.card {
  height: 20rem;
  width: 26%;
  background: url(./img/card.png) no-repeat center/cover;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.cardimg {
  width: 94%;
  height: 75%;
  background: white;
  border-radius: 10px;
}
.card p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}
.workhead img {
  width: 20%;
  position: absolute;
  right: 4.5%;
  bottom: 4%;
}
.contact {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); */
  margin-bottom: 3rem;

  /* height: 100%; */
  /* background: #f5f5f5; */
}
.contactimg {
  width: 50%;
  position: relative;
  /* border-bottom: 2px solid black; */
  /* background: cornflowerblue; */
  overflow: hidden;
}
.img {
  transform: translateX(110%);
  padding-right: 4rem;
  width: 100%;
  height: 83%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13%;
  /* border: 2px solid black; */
  /* background: chartreuse; */
}
.img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.details {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.details h1 {
  font-size: 3rem;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  transform: translateX(-100%);
  /* text-shadow: 4px 4px 5px  rgb(134, 0, 211); */
  color: rgb(0, 0, 0);
}
.box {
  /* width: 80%; */
  padding: 2rem;
  border-top: 0px solid #006ab1;
  border-left: 2px solid rgb(155, 0, 226);
  transition: all 0.3s ease-in-out;
}
.box2 {
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.field {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
label {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
input {
  border-top: none;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  background: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.25rem;
}

input:focus {
  outline: none;
}
.contactbtn {
  background: linear-gradient(to right, #9900b1, #6e8bf5);
  color: white;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
}

/* .foot {
  background: #000000;
  z-index: 2;
  width: 100%;
} */
/* footer */
footer {
  display: flex;
  width: 100%;
  background: url("./img/footer.png") no-repeat bottom/cover;
  background-size: 170%;
  position: relative;
  z-index: 1;
}
.footer-left {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  /* border-left: 2px solid black; */
}
.footer-right li {
  list-style: none;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 400px) {
  .hero-main-div {
    flex-direction: column-reverse;
  }
  .hero-left {
    width: 100%;
    justify-content: space-around;
  }
  .hero-right {
    width: 100%;
    height: 75%;
  }
  .hero-left h1 {
    padding: 0rem;
    text-align: center;
  }
  .textbox {
    margin: 10%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero > img {
    width: 85%;
  }
  .hero-left h2 {
    text-align: center;
  }
  .menu-card {
    width: 80%;
    border-radius: 0% 0% 100% 0%;
  }
  .about {
    height: fit-content;
    flex-direction: column;
    margin: 8% 0%;
  }
  .content {
    width: 80%;
    z-index: 0;
    margin: 0;
  }
  .about h1 {
    position: relative;
    /* text-align: center; */
    left: 0%;
    padding: 1rem;
  }
  .content p {
    padding: 1rem;
    line-height: 2rem;
  }
  .forest {
    display: none;
  }
  .cardMain {
    flex-direction: column;
    transform: translateY(-5%);
  }
  .card {
    height: 18rem;
    width: 100%;
    margin: 3%;
  }
  .workhead h1 {
    padding-top: 0.3rem;
    margin: 4%;
  }
  .workhead {
    height: 9rem;
  }
  .workhead img {
    width: 49%;
    position: absolute;
    right: -13.5%;
    bottom: -8%;
  }
  #work {
    height: fit-content;
    overflow: hidden;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactimg {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
    margin-top: 2rem;
  }
  .details {
    width: 90%;
  }
  .box {
    padding: 1rem;
  }

  .foot {
    background: #fff;
  }
  .content::after , .content::before
  {
    display: none;
  }
}
